.checkoutMenu__adress {
    background-color: rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}

.checkoutMenu__adressElement {
    flex-basis: 45%;
    min-height: 25vh;
    margin: 20px;
    background-color: white;
    padding: 20px;
}

.checkoutMenu__buttonDiv {
    flex-basis: 45%;
    padding: 20px;
    margin: 20px;
}

.checkoutMenu__buttonDiv button{
    width: 100%;
    background-color: grey;
    border: 1px solid grey;
    border-radius: 10px;
    color: white;
}

.checkoutMenu__adressTitle {
    font-weight: bold;
    font-size: 20px;
    border-bottom: 3px solid grey
}

@media (max-width: 576px){   
    .checkoutMenu__adressElement {
        flex-basis: 100%;
        min-height: 15vh;
        margin: 5px;
        padding: 10px;
    }
    
    .checkoutMenu__buttonDiv {
        flex-basis: 100%;
    }
    
    .checkoutMenu__adressTitle {
        border-bottom: 2px solid grey
    }
}