* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background: rgba(0,0,0,0.1);
  width: 100vw;
}

body {
  background-color: rgba(0,0,0,0.2);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  width: 95%;
}

.input{
  padding: 5px;
}

.textarea {
  padding: 5px;
}

a {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

button {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px 5px;
  margin-top: 2px;
}