* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background: rgba(0,0,0,0.1)
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  width: 90vw;
}

.input{
  padding: 5px;
}

.textarea {
  padding: 5px;
}

a {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}