.banner {
    width: 100%;
    height: 40vh;
    background-color: black;
}

.bannerDiv {
    width: 90%;
    height: 100%;
}

.banner__wrap {
    margin: 0 auto;
}

.banner__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@media (max-width: 576px){
    .banner{
        height: 30vh;
    }
    .banner__wrap {
        width: 100%;
    }
}