.articles{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.article {
   flex-basis: 40%;
}

.article__title {
    text-transform: uppercase;
    font-weight: Bold;
    padding: 5px;
    letter-spacing: 2px;
    background-color: rgba(0,0,0,0.15);
    border-radius: 5px;
    border: 0px solid black;
}

.article__wrap {
    background-color: grey;
}

.article__img {
    width: 50%;
    float: left;
    margin: 20px;
}

.article h2, .article h5 {
    text-align: center;
}

.article__text {
    padding: 30px;
}
.article__author {
    font-size: 12px;
    padding: 10px;
}


@media (max-width: 576px){
    .article {
        flex-basis: 80%;
    }
    .article h2, .article h5 {
        padding: 3px;
    }
}