.page .backButton a {
    position: absolute;
    right: 5%;
    top: 1%;
    z-index: 1;
    text-decoration: none; 
    color: red;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
}

.item {
    flex-basis: 30%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 30vh;
    text-align: center;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.item a {
    display: flex;
    text-decoration: none;
    color: black;
}

.item img {
    position: absolute;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.item p { 
    z-index: 1;
    width: 100%;
    font-size: 20px;
    margin: 10px auto 0 auto;
    text-transform: uppercase;
    color: white;
    background-color: rgba(0,0,0,0.7);
}


@media (max-width: 576px){
    .item {
        flex-basis: 70%;
    }
}