.item {
    flex-basis: 40%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 35vh;
    text-align: center;
    position: relative;
    margin: 30px auto ;
}

.item a {
    display: flex;
    text-decoration: none;
}

.item__img {
    position: absolute;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.item__name { 
    z-index: 1;
    width: 80%;
    font-size: 30px;
    margin: 10px auto 0 auto;
    background-color: rgba(0,0,0,0.7);
    border: 0px solid black;
    border-radius: 5px;
}

.item__span {
    display: block;
    transition: .3s;
    text-transform: uppercase;
    color: white;
}

.item__span:hover {
    transform: scale(1.2);
}


@media (max-width: 576px){
    .item {
        flex-basis: 80%;
    }
}