.checkoutMenu {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.checkoutMenu__logPanel {
    flex-basis: 40%;
    text-align: center;
    background-color: red;
}

.checkoutMenu__newUserPanel {
    flex-basis: 40%;
    text-align: center;
    background-color: blue;
}

.checkoutMenu__register {
    margin: 30px auto;
}

.checkoutMenu span{
    color: red;
    font-size: 10px;
}