footer {
    height: 8vh;
    background-color: black;
    color: white;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 576px){
   footer {
       font-size: 10px;
   }
}