footer {
    height: 8vh;
    background-color: black;
    color: white;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.footer__text {
    margin: 0;
    padding: 5px 0;
}

.footer__container{
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: space-around;
}

@media (max-width: 576px){
   footer {
       font-size: 8px;
       height: 8vh;
   }
}