.product {
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    padding: 20px;
    height: 45vh;
    position: relative;
    background-color:rgba(0,0,0,0.05);
    transition: .5s;
    text-align: center;
    margin: 10px;
}
.product:hover{
    background-color:rgba(0,0,0,0.3);
}

.product__name {
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    letter-spacing: 2px;
}

.product__img {
    object-fit: cover;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    flex-basis: 40%;
}

.product__description {
    padding: 10px;
    flex-grow: 1;
}

.product__price {
    font-weight: bold;
}

@media (max-width: 576px){
   .product {
       flex-basis: 90%;
       height: 55vh;
       font-size: 15px;
   }
 }