.loginMenu {
    position: fixed;
    top: 8vh;
    left: 5%;
    right: 5%;
    background-color: rgba(255,255,255,0.9);
    z-index: 3;
    min-height: 10vh;
    border: 3px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginMenu__h1 {
    min-width: 20%;
    padding: 15px;
    font-weight: bold;
}

.loginMenu__form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginMenu__input {
    margin: 10px;
}

.loginMenu span {
    color: red;
    font-size: 10px;
    display: block;
    max-width: 60%;
}

.loginMenu__btn {
    margin: 20px;
}

@media (max-width: 576px){
    .wrapper {
        font-size: 7px;
    }
    .wrapper h1 {
        font-size: 15px;
    }
  }