.checkoutMenu__wrap {
    min-height: 100vh;
    width: 100%;
}

.checkoutMenu {
    background-color: rgba(0,0,0,0.1);
    padding: 30px 0 30px 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.checkoutMenu__stepsPanel{
    height: 10vh;
    width: 100%;
    padding-top: 15px;
}
.checkoutMenu__nav{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
}
.checkoutMenu__navElement{
    flex-basis: 20%;
    list-style: none;
    text-align: center;
}

.stepActive {
    font-weight: bold;
    background-color: grey;
    border: 1px solid grey;
    border-radius: 10px;
}

.checkoutMenu__logPanel {
    flex-basis: 40%;
    text-align: center;
    background-color: white;
    padding: 30px 0;
}

.checkoutMenu__newUserPanel {
    flex-basis: 40%;
    text-align: center;
    background-color: white;
    padding: 30px 0;
}

.checkoutMenu__register {
    margin: 30px auto;
    width: 80%;
}

.hide{
    display: none;
}

.checkoutMenu__head {
    display: none;
}

.checkoutMenu__label {
    margin: 5px 5px 0 0 ;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.checkoutMenu__info {
    width: 100%;
}

.checkoutMenu span{
    color: red;
    font-size: 10px;
}

.checkoutMenu__title {
    font-size: 20px;
    font-weight: bold;
}


@media (max-width: 576px){
    .checkoutMenu__wrap {
        min-height: 100vh;
        width: 100%;
    }
    
    .checkoutMenu {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .checkoutMenu__stepsPanel{
        font-size: 12px;
    }
    .checkoutMenu__nav{
        width: 100%;
        padding: 10px 0;
        justify-content: center;
        align-items: center;
    }
    .checkoutMenu__navElement{
      padding: 2px;
    }
    
    .checkoutMenu__logPanel {
        flex-basis: 90%;
        margin: 0 auto 20px auto;
    }
    
    .checkoutMenu__newUserPanel {
        flex-basis: 90%;
        margin: 0 auto;
    }
    
    .checkoutMenu__register {
        width: 100%;
    }

    .checkoutMenu__input {
        width: 100%;
    }
 }