.mainMenu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 2;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}

.mainMenu__logo {
    height: 8vh;
    flex-basis: 15%;
}

.mainMenu .mainMenu__logo a.active {
    background-color: #fff;
}

.mainMenu__logo img {
    height: 100%;
}

.mainMenu__wrap{
    flex-grow: 1;
    display: flex;
    padding-left: 0px;
    margin: 0;
}

.mainMenu__element {
    flex-basis: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    transition: .4s;
    overflow: hidden;
}

.mainMenu__element a:hover {
    transform: scale(1.3);
}

.mainMenu a {
    color: black;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
}

.mainMenu .active {
    color: white;
    background-color: black;
}

.shopLi {
    display: flex;
    flex-direction: column;
}

.slideMenu {
    position: absolute;
    top: 100%;
    bottom: 50;
    width: 17%;
    background-color: grey;
    padding: 0;
    transition: .5s;
} 

.hide{
    display: none;
}

.slideMenu__element {
    list-style: none;
    border-bottom: 1px solid black;
}

.slideMenu__link {
    display: block;
    padding: 20px;
}

@media (max-width: 576px){
    .mainMenu li, .mainMenu a , .mainMenu button {
        font-size: 10px;
    }
  }