.payment__wrap {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.payment__pick {
    flex-basis: 60%;
}

.payment__summary{
    flex-basis: 30%;
}

.payment__select {
    width: 80%;
    padding: 10px;
    display: flex;
}

.payment__data {
   padding-top: 40px;
}

@media (max-width: 576px){
    .payment__wrap {
        flex-direction: column;
    }
    
    .payment__pick {
        flex-basis: 80%;
        width: 100%;
    }
    
    .payment__summary{
        flex-basis: 70%;
       margin: 0 auto;
    }
  
 }