.shoppingCart {
    width: 80%;
    text-align: center;
}

.shoppingCart h3 {
    padding: 30px;
}

.shoppingCart p {
    padding: 10px;
}

.shoppingCart button {
    padding: 30px;
    background-color: white;
    cursor: pointer;
}

.shoppingCart button:hover {
    background-color: black;
    color: white;
}

.shoppingCart .orderList {
    display: flex;
    flex-direction: column;
}
.shoppingCart .orderList div {
    display: flex;
    flex-direction: row;
    background-color: grey;
    margin-bottom: 10px;
}

.shoppingCart span {
    color: green;
    font-weight: bold;
    font-size: 20px;
}