.shoppingCart {
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 0;
}

.shoppingCart__orders {
    background-color: red;
    flex-basis: 60%;
    
}

.shoppingCart__summary{
    background-color: blue;
    flex-basis: 30%;
    min-height: 40%;
    display: flex;
    flex-direction: column;
}

.shoppingCart__title {
    font-weight: bold;
    font-size: 50px;
}

.shoppingCart__text {
    font-weight: bold;
}

.shoppingCart__container {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.shoppingCart__span {
    color: green;
    font-weight: bold;
    font-size: 20px;
}

.orderElement {
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
    background-color: rgba(100,100,100,0.6);
    height: 10vh;
    transition: .3s;
}

.orderElement:hover {
    background-color: rgba(100,100,100,0.9);
}

.orderElement__imgWrap {
    height: 90%;
    max-width: 100px;
}

.orderElement__img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.orderElement__text {
 font-weight: bold;
 font-size: 15px;
}

.shoppingCart__button {
    margin: 30px;
    transition: .3s;
}

.shoppingCart__button:hover {
    transform: scale(1.1);
}

.shoppingCart__values {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.shoppingCart__details {
    flex-basis: 60%;
    padding: 10px 0 5px 20px;
    text-align: left;
}

.shoppingCart__detailsValue {
    flex-basis: 25%;
    padding: 10px 20px 0 0;
}

.shoppingCart__payment {
 flex-basis: 80%;
 background-color: green;
 min-height: 10vh;
 display: flex;
 flex-direction: column;
}

.shoppingCart__termin {
flex-basis: 80%;
min-height: 10vh;
justify-content: last baseline;
background-color: brown;
}

.shoppingCart__flexStart {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width:100%;
    text-align: left;
}

.shoppingCart__paymentCards {
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin: 0 30px;
}