.shoppingCart {
    width: 80%;
    text-align: center;
}

.shoppingCart h3 {
    padding: 30px;
}

.shoppingCart p {
    padding: 10px;
}

.shoppingCart button {
    padding: 20px;
    background-color: white;
    cursor: pointer;
}

.shoppingCart button:hover {
    background-color: black;
    color: white;
}


.shoppingCart span {
    color: green;
    font-weight: bold;
    font-size: 20px;
}

.shoppingCart ul {
    display: flex;
    flex-direction: column;
}

.shoppingCart ul li {
    justify-content: space-between;
    display: flex;
    padding: 15px;
    margin-bottom: 10px;
    background-color: rgba(100,100,100,0.6);

}

.shoppingCart ul li img{
    height: 80px;
    width: 80px;
}

.shoppingCart ul li p {
 font-weight: bold;
 font-size: 15px;
}