.userAccount {
    text-align: center;
    padding: 30px;
    width: 90%;
}

.ordersWrap {
    display: flex;
}

.userAccount p {
    padding: 30px;
}

.ordered {
    display: flex;
}

.userAccount__text {
    padding: 5px;
}

.text {

}

.text--bold {
    font-weight: bold;
}

.text--medium {
    font-size: 20px;
}